{% extends 'layout.html' %}

{% block body %}

<h1>Add City</h1>
<hr>
<form method="POST" action="">
	<!-- ROW 1 -->
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="FormGroupInlineCity">City</label>
			<input type="text" class="form-control" placeholder="" id="FormGroupInlineCity" name="City" required>
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlineState">State</label>
			<select id="FormGroupInlineState" class="form-control" name="State" required>
				<option selected></option>
				{% for State in States %}
				<option>{{State}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlineColi">Cost of Living Index</label>
			<input type="text" class="form-control" id="FormGroupInlineColi" pattern="^\d*(\.\d{0,2})?$"
				placeholder="expensive > 100" name="Coli">
		</div>
	</div>
	<!-- ROW 2 -->
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="FormGroupInlineSalary">Average Salary</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">$</div>
				</div>
				<input type="text" class="form-control" id="FormGroupInlineSalary" pattern="^\d*(\.\d{0,2})?$"
					placeholder="" name="Salary">
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlineRent">Median Rent</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">$</div>
				</div>
				<input type="text" class="form-control" id="FormGroupInlineRent" pattern="^\d*(\.\d{0,2})?$"
					placeholder="" name="Rent">
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlineHome">Median Home</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">$</div>
				</div>
				<input type="text" class="form-control" id="FormGroupInlineHome" pattern="^\d*(\.\d{0,2})?$"
					placeholder="" name="Home">
			</div>
		</div>
	</div>
	<!-- ROW 3 -->
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="FormGroupInlineSTax">State Tax</label>
			<div class="input-group">
				<input type="text" class="form-control" id="FormGroupInlineSTax" pattern="^\d*(\.\d{0,2})?$"
					placeholder="" name="StateTax">
				<div class="input-group-append">
					<div class="input-group-text">%</div>
				</div>
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlineLTax">Local Tax</label>
			<div class="input-group">
				<input type="text" class="form-control" id="FormGroupInlineLTax" pattern="^\d*(\.\d{0,2})?$"
					placeholder="" name="LocalTax">
				<div class="input-group-append">
					<div class="input-group-text">%</div>
				</div>
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlinePTax">Property Tax</label>
			<div class="input-group">
				<input type="text" class="form-control" id="FormGroupInlinePTax" pattern="^\d*(\.\d{0,2})?$"
					placeholder="" name="PropertyTax">
				<div class="input-group-append">
					<div class="input-group-text">%</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ROW 4 -->
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="FormGroupInlineLiving">Living Score</label>
			<div class="input-group">
				<input type="text" class="form-control" id="FormGroupInlineLiving" pattern="^\d*(\.\d{0,2})?$"
					placeholder="" name="Living">
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlineFood">Food Cost Index</label>
			<div class="input-group">
				<input type="text" class="form-control" id="FormGroupInlineFood" pattern="^\d*(\.\d{0,2})?$"
					placeholder="" name="Food">
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlineTransit">Public Transit Index</label>
			<div class="input-group">
				<input type="text" class="form-control" id="FormGroupInlineTransit" pattern="^\d*(\.\d{0,2})?$"
					placeholder="" name="Transit">
			</div>
		</div>
	</div>
	<!-- ROW 5 -->
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="FormGroupInlineCompanies">Companies</label>
			<textarea class="form-control" rows="2" id="FormGroupInlineCompanies"
				placeholder="Seperate entries with a comma" name="Companies"></textarea>
		</div>
		<div class="form-group col-md-6">
			<label for="FormGroupInlineNeighborhoods">Neighborhoods</label>
			<textarea class="form-control" rows="2" id="FormGroupInlineNeighborhoods"
				placeholder="Seperate entries with a comma" name="Neighborhoods"></textarea>
		</div>
	</div>
	<!-- ROW 6 -->
	<div class="form-row">
		<div class="form-group col-md-12">
			<label for="FormGroupInlineNotes">Notes</label>
			<textarea class="form-control" rows="2" id="FormGroupInlineNotes"
				placeholder="Enter any additional information here" name="Notes"></textarea>
		</div>
	</div>
	<!-- CHECKBOX -->
	<fieldset disabled>
		<div class="form-group">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" id="FormGroupInlineCheck" name="">
				<label class="form-check-label" for="FormGroupInlineCheck">
					Enter another (not configured)
				</label>
			</div>
		</div>
	</fieldset>
	<!-- SUBMIT BUTTON -->
	<button type="submit" class="btn btn-primary">Save</button>
</form>
<hr>
{% endblock %}