{% extends 'layout.html' %}
{% block body %}

<h1>Add Interaction</h1>

{% from "includes/_formhelpers.html" import render_field %}

<form method="post" action="">
	<table width="50%" cellspacing="10px" style="border-spacing: 20px;">
		<div class="form-group">
			<tr>
				{% for subfield in form.Channel %}
				<td>{{ subfield }}</td>
				<td>{{ subfield.label }}</td>
				{% endfor %}
			</tr>
		</div>
	</table>
	{{ form.csrf_token }}
	<div class="form-group">
		{{ render_field(form.Company, class_="form-control") }}
	</div>
	<div class="form-group">
		{{ render_field(form.City, class_="form-control") }}
	</div>
	<div class="form-group">
		{{ render_field(form.Summary, class_="form-control", id="editor") }}
	</div>
	<div class="form-group">
		{{ render_field(form.State, class_="form-control", id="selectfield") }}
	</div>
	<p><input type="submit" class="btn btn-primary" value="Submit"></p>
</form>

{% endblock %}

<!-- <div class="form-group">
	<div class="btn-group btn-group-toggle" data-toggle="buttons">
		{% for subfield in form.Channel %}
		<label class="btn btn-secondary">
			<input type="radio" name="options" id="option1" autocomplete="off">{{ subfield.label }}
		</label>
		{% endfor %}
	</div>
</div> -->