{% extends 'layout.html' %}

{% block body %}

<h1>Add Job</h1>
<hr>
<form method="POST" action="">
	<!-- ROW 1 -->
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="FormGroupInlinePosition">Position</label>
			<input type="text" class="form-control" id="FormGroupInlinePosition" placeholder="" name="Position"
				required>
		</div>
		<div class="form-group col-md-2">
			<label for="FormGroupInlineLevel">Level</label>
			<div class="input-group">
				<input type="text" class="form-control" id="FormGroupInlineLevel" placeholder="" name="Level">
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlineCompany">Company</label>
			<div class="input-group">
				<input type="text" class="form-control" id="FormGroupInlineCompany" placeholder="" name="Company"
					required>
			</div>
		</div>
		<div class="form-group col-md-2">
			<label for="FormGroupInlineType">Type</label>
			<select id="FormGroupInlineType" class="form-control" name="Type">
				<option selected></option>
				<option>Public</option>
				<option>Private</option>
				<option>Non Profit</option>
				<option>Government</option>
				<option>Education</option>
				<option>Private Party</option>
			</select>
		</div>
	</div>
	<!-- ROW 2 -->
	<div class="form-row">
		<div class="form-group col-md-2">
			<label for="FormGroupInlineSalary">Salary</label>
			<div class="input-group">
				<div class="input-group-prepend">
					<div class="input-group-text">$</div>
				</div>
				<input type="text" class="form-control" id="FormGroupInlineSalary" pattern="^\d*(\.\d{0,2})?$"
					placeholder="" name="Salary">
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlineLink">Link</label>
			<div class="input-group">
				<input type="text" class="form-control" id="FormGroupInlineLink" placeholder="" name="Link">
			</div>
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlineCity">City</label>
			<input type="text" class="form-control" id="FormGroupInlineCity" placeholder="" name="City" required>
		</div>
		<div class="form-group col-md-2">
			<label for="FormGroupInlineState">State</label>
			<select id="FormGroupInlineState" class="form-control" name="State" required>
				<option selected></option>
				{% for State in States %}
				<option>{{State}}</option>
				{% endfor %}
			</select>
		</div>
	</div>
	<!-- ROW 3 -->
	<div class="form-row">
		<div class="form-group col-md-4">
			<label for="FormGroupInlineContact">Contact</label>
			<input type="text" class="form-control" id="FormGroupInlineContact" placeholder="Dr. Jane Smith"
				name="Contact">
		</div>
		<div class="form-group col-md-2">
			<label for="FormGroupInlineTitle">Title</label>
			<div class="input-group">
				<input type="text" class="form-control" id="FormGroupInlineTitle" placeholder="HR Rep" name="Title">
			</div>
		</div>
		<div class="form-group col-md-2">
			<label for="FormGroupInlinePhone">Phone</label>
			<input type="tel" class="form-control" id="FormGroupInlinePhone" placeholder="(000)-000-0000" name="Phone">
		</div>
		<div class="form-group col-md-4">
			<label for="FormGroupInlineEmail">Email</label>
			<div class="input-group">
				<input type="email" class="form-control" id="FormGroupInlineEmail" placeholder="name@example.com"
					name="Email">
			</div>
		</div>
	</div>
	<!-- ROW 4 -->
	<div class="form-row">
		<div class="form-group col-md-6">
			<label for="FormGroupInlineDescription">Description</label>
			<textarea class="form-control" rows="6" id="FormGroupInlineDescription"
				placeholder="Posting from the company" name="Description"></textarea>
		</div>
		<div class="form-group col-md-6">
			<label for="FormGroupInlineExperience">Experience</label>
			<textarea class="form-control" rows="6" id="FormGroupInlineExperience"
				placeholder="Relevant skills and knowledge" name="Experience"></textarea>
		</div>
	</div>
	<!-- ROW 5 -->
	<div class="form-row">
		<div class="form-group col-md-12">
			<label for="FormGroupInlineNotes">Notes</label>
			<textarea class="form-control" rows="2" id="FormGroupInlineNotes"
				placeholder="Any additional information..." name="Notes"></textarea>
		</div>
	</div>
	<!-- CHECKBOX -->
	<fieldset disabled>
		<div class="form-group">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" id="FormGroupInlineCheckCheckBox" name="CheckBox">
				<label class="form-check-label" for="FormGroupInlineCheckBox">
					Add Interaction (not configured)
				</label>
			</div>
		</div>
	</fieldset>
	<!-- SAVE BUTTON -->
	<button type="submit" class="btn btn-primary">Save</button>
</form>
<hr>
{% endblock %}