{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
	<h1 class="display-4 text-center">Welcome to Traba</h1>
	<p class="lead text-center">Making sense of the modern job hunt</p>
	<hr class="my-4">
	<div class="text-center">
		<ul>Save postings, company location, and employer details</ul>
		<ul>Compare cities, cost of living, salaries, and other factors</ul>
		<ul>Record interactions with recruiters, schedule interviews, and store notes</ul>
	</div>

	<div class="container">
		<div class="row">
			<div class="col text-center">
				<a class="btn btn-primary btn-lg" href="#" role="button">Get Started</a>
				<a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
			</div>
		</div>
	</div>
</div>



{% endblock %}