{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
	<h1 class="display-4 text-center">Welcome to Traba</h1>
	<p class="lead text-center">Making sense of the modern job hunt</p>
	<hr class="my-4">
	<div class="text-center">
		<ul>Save job postings, company locations, and employer details</ul>
		<ul>Compare cities by cost of living, salaries, and other factors</ul>
		<ul>Record interactions with recruiters, schedule interviews, and store notes</ul>
	</div>

	<div class="container">
		<div class="row">
			{% if session.logged_in %}
			<div class="col text-center">
				<a class="btn btn-primary btn-lg" href="/dashboard" role="button">Dashboard</a>
			</div>
			{% else %}
			<div class="col text-center">
				<a class="btn btn-primary btn-lg" href="/register" role="button">Get Started</a>
				<a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>



{% endblock %}