{% extends 'layout.html' %}

{% block body %}

<div class="jumbotron">
	<h1 class="display-4">Welcome to Traba</h1>
	<p class="lead">De-cluttering the job hunt</p>
	<hr class="my-4">
	<div class="text">
		<ul>Save postings, company location, and employer details</ul>
		<ul>Compare cities, cost of living, salaries, and other factors</ul>
		<ul>Record interactions with recruiters, schedule interviews, and store notes</ul>
	</div>
	<table>
		<tr>
			<td>
				<a class="btn btn-primary btn-lg" href="/dashboard" role="button">Get Started</a>
			</td>
		</tr>
	</table>
</div>



{% endblock %}