{% extends 'layout.html' %}

{% block body %}

<h1>Settings</h1>
<hr>

<script>
	function myCopyText() {
		/* Get the text field */
		var copyText = document.getElementById("myInput");
		/* Select the text field */
		copyText.select();
		/* Copy the text inside the text field */
		document.execCommand("copy");
		/* Alert the copied text */
		alert("Copied text to clipboard: " + copyText.value);
	}
</script>

<div class="input-group mb-3">
	<div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon3">API Token</span>
	</div>
	<input type="text" value="{{session['api_request_token']}}" id="myInput" disabled>
	<div class="input-group-append">
		<button class="btn btn-secondary" type="button" onclick="myCopyText()">Copy Text</button>
	</div>
</div>


{% endblock %}