{% extends 'layout.html' %}

{% block body %}

<h1>Settings</h1>
<hr>

<!-- GENERATE NEW API TOKEN + COPY CURRENT TOKEN -->
<script>
	function myCopyText() {
		/* Get the text field */
		var copyText = document.getElementById("myInput");
		/* Select the text field */
		copyText.select();
		/* Copy the text inside the text field */
		document.execCommand("copy");
		/* Alert the copied text */
		alert("Copied text to clipboard: " + copyText.value);
	}
</script>


<div class="input-group mb-3">
	<div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon3">API Token</span>
	</div>
	<input type="text" value="{{session['api_request_token']}}" id="myInput" disabled>
	<div class="input-group-append">
		<form action="">
			<button class="btn btn-secondary" type="button" onclick="myCopyText()">Copy Text</button>
		</form>
		<form action="{{ url_for('newtoken') }}" id="myForm" method="post" name="myForm" target="hiddenFrame">
			<button class="btn btn-outline-danger ml-1" type="submit">Regenerate</button>
			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
		</form>
		
	</div>
</div>

<div class="input-group mb-3">
	<div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon3">Username</span>
	</div>
	<input type="text" value="{{session['username']}}" id="myInput" disabled>
	<div class="input-group-append">
		<form action="">
			<button class="btn btn-secondary" type="button" onclick="" disabled>Edit</button>
		</form>
	</div>
</div>


<div class="input-group mb-3">
	<div class="input-group-prepend">
		<span class="input-group-text" id="basic-addon3">Email</span>
	</div>
	<input type="text" value="{{session['email']}}" id="myInput" disabled>
	<div class="input-group-append">
		<form action="">
			<button class="btn btn-secondary" type="button" onclick="" disabled>Edit</button>
		</form>
	</div>
</div>



<!-- use this to freeze redirect for background form submission -->
<!-- <iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe> -->
{% endblock %}