{% extends 'layout.html' %}

{% block body %}



<div class="container h-100">
	<div class="row h-100 justify-content-center align-items-center">
		<div class="col col-md-8">

			<h2>Request Reset</h2>

			{% from "includes/_formhelpers.html" import render_field %}
			<form action="" method="POST">
				{{ form.csrf_token }}
				<div class="form-group">
					{{render_field(form.email, class_="form-control")}}
				</div>
				<p><input type="submit" class="btn btn-primary" value="Request Reset"></p>
			</form>
			<hr>
			<div class="text-center">
				<small>
					Need an account?
					<a href={{ url_for('register') }} class="">Sign Up Now</a>
				</small>
			</div>
		</div>
	</div>
</div>

{% endblock %}