{% extends 'layout.html' %}
{% block body %}

<h2>Interactions ({{_data|length}})</h2>
<hr>

{% if _data|length is sameas 0 %}
<p>Nothing to display, try adding some interactions first</p>
{% else %}

<table class="table table-sm table-striped table-bordered">
	<thead>
		<tr>
			<th scope="col">Channel</th>
			<th scope="col">Company</th>
			<th scope="col">Summary</th>
			<th scope="col">City</th>
			<th scope="col">State</th>
			<th scope="col">Created At</th>
			<th scope="col">Modified At</th>
			<th scope="col">Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for each in _data %}
		<tr>
			<td>{{ each['channel'] }}</td>
			<td>{{ each['company'] }}</td>
			<td class="text-truncate" style="max-width: 150px;">{{ each['summary'] }}</td>
			<td>{{ each['city'] }}</td>
			<td>{{ each['state'] }}</td>
			<td class="text-truncate" style="max-width: 50px;">{{ each['created_at'] }}</td>
			<td class="text-truncate" style="max-width: 50px;">{{ each['modified_at'] }}</td>
			<td>
				<a href="/detail/interaction/{{ each['id'] }}"
					class="btn btn-outline-secondary btn-sm">Detail</a>
				<a href="/edit/interaction/{{ each['id'] }}" class="btn btn-outline-info btn-sm">Edit</a>
				<a href="/delete/interaction/{{ each['id'] }}" class="btn btn-outline-danger btn-sm">Delete</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<hr>

{% endif %}
<a href="{{ url_for('add_interaction') }}" class="badge badge-primary">Add Interaction</a>
<hr>
{% endblock %}